html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 2rem;
  font: 16px/1.5 system-ui, sans-serif;
}

h1:first-child {
  margin-top: 0;
}

.error {
  --border: hsla(0, 100%, 80%, 1);
  --bg: hsla(0, 100%, 95%, 1);
  border: solid 1px var(--border);
  background-color: var(--bg);
  padding: 1rem;
  border-radius: 0.25rem;
}
